@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10%;
    margin-right: 20%;
    font-size: 24px;
}
.navbar-image{
    width: 150px;
    height: 100px;
}
.navbar-right{
    display: flex;
    gap: 40px;
}
.navbar a {
    text-decoration: none;
    color: #2e7d32;
    font-weight: 500;
    transition: 0.3s;
}
header {
    text-align: center;
    padding: 100px;
    background:
    linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url("image/pexels-iriser-721998.jpg");
}

header h1 {
    font-size: 60px;
    color: #ffffff;
    font-weight: bold;
    letter-spacing: 1px;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.8);
}

header p {
    font-size: 30px;
    color: #f5f5f5;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.8);
}
.hello {
    text-align: center;
    padding: 40px 100px;
    font-size: 25px;
}
.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    padding: 70px 20px;
    background-color: #eef3ec;
}
.card {
    background-color: white;
    width: 280px;
    padding: 25px;
    border-radius: 18px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card:hover {
    transform: translateY(-12px);
    box-shadow: 0 18px 35px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}
.card h3 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #1b5e20;
}
.card p {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
}

.form-section {
    text-align: center;
    padding: 30px;
}

input {
    display: block;
    margin: 10px auto;
    padding: 8px;
    width: 200px;
}

button {
    padding: 10px 20px;
    background: green;
    color: white;
    border: none;
    cursor: pointer;
}

.result-box {
    margin: 30px auto;
    padding: 25px;
    width: 800px;
    background: linear-gradient(135deg, #e8f5e9, #f1f8e9);
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    text-align: center;
    justify-content: center;
    transition: transform 0.3s ease;
}

.result-box h1 {
    color: #2e7d32;
    margin-bottom: 15px;
}

.result-box p {
    margin: 8px 0;
    font-size: 15px;
        font-size:18px;
}

.result-box b {
    color: #1b5e20;
}
select {
    display: block;
    margin: 10px auto;
    padding: 8px;
    width: 220px;
}
.advice-button{
    border-radius: 14px;
    font-size: 18px;
    font-weight: 800;
    background-color: red;
    color: black;
}

footer {
    text-align: center;
    padding: 20px;
    background: #f1f8e9;
    margin-top: 40px;
}
@media (max-width: 768px) {
    .hello {
        padding: 40px 20px;
    }

    header h1 {
        font-size: 28px;
    }

    header p {
        font-size: 16px;
    }
}
.parallax {
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.stage1 { background-image: url("image/Screenshot 2026-02-26 192753.png"); }
.stage2 { background-image: url("image/Screenshot 2026-02-26 192821.png"); }
.stage3 { background-image: url("image/Screenshot 2026-02-26 192846.png"); }
.stage4 { background-image: url("image/Screenshot 2026-02-26 192912.png"); }
.stage5 { background-image: url("image/Screenshot 2026-02-26 192933.png"); }
.stage6 { background-image: url("image/Screenshot 2026-02-26 192955.png"); }
.stage7 { background-image: url("image/Screenshot 2026-02-26 193014.png"); }
.stage8 { background-image: url("image/Screenshot 2026-02-26 193033.png"); }
.stage9 { background-image: url("image/Screenshot 2026-02-26 193104.png"); }
.stage10 { background-image: url("image/Screenshot 2026-02-26 193120.png"); }
.stage11 { background-image: url("image/Screenshot 2026-02-26 193146.png"); }
.stage12 { background-image: url("image/Screenshot 2026-02-26 193201.png"); }